/* body{
    background-image: linear-gradient(to right, #66ffff, #0080ff);
} */

.nav-wrapper{
    background-color: #ffffff;
    display:flex;
    justify-content: right;
}

.nav-notification{
    padding: 20px 6px 6px;

   
}

.nav-user{
    padding:6px;
    
}

.nav-time{
    padding:6px 12px 6px 6px;
    
}

.side-bar{
    background-color: #ffffff;
    position:absolute;
    left:auto;
    height:100vh;
    font-family: 'Cabin', sans-serif;
    box-shadow: 5px 0 4px 0 rgba(112, 111, 111, 0.7);
}


.s-user{
    display:flex;
}
.s-exam{
    display:flex;
}
.s-mng{
    display:flex;
    text-align: left;
}
.s-logout{
    display:flex;
}

.s-icons img{
    margin:1rem;
    cursor:pointer;
}

.s-heading{
    font-family: 'Baloo 2', cursive;
}

.s-icons p{
    cursor:pointer;
}

.qn-enter{
    background-color: #ffffff;
    height: 34rem;
    margin:1rem;
    margin-left: 14rem;
    border-radius: 10px;
}

.qn-conditions{
    display:flex;
    justify-content: center;

}
.qn-conditions div{
    padding:15px;
}

.qn-insertion{
    margin-top:8rem;
}

.qn-create{
    background-color: #66ffff;
    border-color:#000000;
    width:10rem;
    height:7vh;
    font-size: larger;
    font-weight: bold;
    border-radius: 7px;
    font-family: 'Open Sans', sans-serif;;
}

.question-enter button{
    cursor:pointer;
}