.nav-wrapper{
    background-color: #ffffff;
    display:flex;
    justify-content: right;
}

.nav-notification{
    padding: 20px 6px 6px;

   
}

.nav-user{
    padding:6px;
    
}

.nav-time{
    padding:6px 12px 6px 6px;
    
}

.side-bar{
    background-color: #ffffff;
    position:absolute;
    left:auto;
    height:100vh;
    font-family: 'Cabin', sans-serif;
    box-shadow: 5px 0 4px 0 rgba(112, 111, 111, 0.7);
}

.s-user{
    display:flex;
}
.s-qn{
    display:flex;
}
.s-exam{
    display:flex;
}
.s-mng{
    display:flex;
    text-align: left;
}
.s-logout{
    display:flex;
}

.s-icons img{
    margin:1rem;
    cursor:pointer;
}

.s-heading{
    font-family: 'Baloo 2', cursive;
}

.s-icons p{
    cursor:pointer;
}

.subjects{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:10px;
    margin-top:3rem;
    margin-left: 15rem;
    margin-right: 5rem;

}
.s-list{
    padding:2rem;
    background-color: #ffffff;
    border-radius: 10px;
}
.sub-text{
    font-size: x-large;
}




