.questions-descriptions table {
    border: 1px solid black;
    border-collapse: collapse;
}

.questions-descriptions th {
    border: 1px solid black;
    border-collapse: collapse;
}

.questions-descriptions td {
    border: 1px solid black;
    border-collapse: collapse;
}

.questions-descriptions td {
    padding: 1rem 3rem 1rem;
}

.questions-descriptions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.courseoutcomes table {
    display: flex;
    max-width: 25rem;
    border: 1px solid black;
    border-collapse: collapse;
}