.questions-descriptions table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.questions-descriptions th {
    border: 1px solid black;
    border-collapse: collapse;
}

.questions-descriptions td {
    border: 1px solid black;
    border-collapse: collapse;
}

.questions-descriptions td {
    padding: 0.5rem 0.5rem 0.5rem;
}

.questions-descriptions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quedescriptions table {
    display: flex;
    width: 25rem;
    border: 1px solid black;
    border-collapse: collapse;
}

.courseoutcomes table {
    display: flex;
    width: 25rem;
    border: 1px solid black;
    border-collapse: collapse;
}

.courseItem {
    text-align: left;
}

.qnheading th {
    padding: 0.5rem 3rem 0.5rem;
}

.COcolumn {
    width: 3%;
}

.queItem {
    text-align: left;
}